*.class
*.iml
*.idea
.settings
.project
.classpath
*.sass-cache
target

.DS_Store

*/logs/*
logs/*
classes/
admin/bin

.rubygems-provided
.rubygems
sass-external
bahmnicore-omod/src/main/webapp/resources/styles/bahmnicore.css
